Source: ligo-lvalert
Maintainer: Brian Moe <brian.moe@ligo.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-all-dev
Standards-Version: 3.8.4
X-Python-Version: >=2.6

Package: python-ligo-lvalert
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pyxmpp, python-libxml2, python-m2crypto, python-dnspython
Provides: ${python:Provides}
Description: LIGO-Virgo Alert Network
 The LIGO-Virgo Alert Network (LVAlert) is a prototype notification service built XMPP to provide a basic notification tool which allows multiple producers and consumers of notifications.
