*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
config.lt
include/lal/*.h
include/lal/*.i
lalstochastic-*.tar.gz
lalstochastic.spec
libtool
src/LALStochasticConfig.h
src/LALStochasticBuildInfo.c
src/LALStochasticVCSInfo.h
src/config.h
src/config.h.in
src/git_version
src/lalstochastic-user-env.csh
src/lalstochastic-user-env.sh
src/lalstochastic-user-env.shell
src/stamp-h1
src/stamp-h2
test/??_714382918*.dat
test/AstroOmegaTest
test/CZeroPadAndFFTTest
test/OverlapReductionFunctionTest
test/SZeroPadAndFFTTest
test/SimulatePopcornTest
test/SimulateSBTest
test/StochasticCrossCorrelationSpectrumTest
test/StochasticCrossCorrelationStatisticTest
test/StochasticHeterodynedCrossCorrelationStatisticTest
test/StochasticInverseNoiseTest
test/StochasticOmegaGWTest
test/StochasticOptimalFilterNormalizationTest
test/StochasticOptimalFilterTest
test/WHITENED-SB?
