*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
/Makefile
/Makefile.in
config.lt
lalstochastic-*.tar.gz
lalstochastic-user-env.*
lalstochastic.spec
libtool
python/__init__.py
python/git_version.py
src/build_info.c
src/config.h
src/config.h.in
src/lal/LALStochasticConfig.h
src/lal/LALStochasticVCSInfo.h
src/lal/lalstochasticswig.i
stamp-h?
test/??_714382918*.dat
test/AstroOmegaTest
test/CZeroPadAndFFTTest
test/OverlapReductionFunctionTest
test/SZeroPadAndFFTTest
test/SimulatePopcornTest
test/SimulateSBTest
test/StochasticCrossCorrelationSpectrumTest
test/StochasticCrossCorrelationStatisticTest
test/StochasticHeterodynedCrossCorrelationStatisticTest
test/StochasticInverseNoiseTest
test/StochasticOmegaGWTest
test/StochasticOptimalFilterNormalizationTest
test/StochasticOptimalFilterTest
test/WHITENED-SB?
