; vim: set ft=dosini :

[flake8]
select =
	EXE,
	E9,
	F401,
	W2,
        W605,
exclude =
	__pycache__,
	.git/,
	*doxygen/filter_py.py,
per-file-ignores =
	__init__.py:F401,
	lalburst/*:F401,
	lalinspiral/*:F401,
