*.dSYM
*.egg-info
*.swp
*.trs
*~
.DS_Store
.dirstamp
/Makefile
/Makefile.in
/_build/
/_inst/
/index.html
/lalsuite-*/
/lalsuiterc
TAGS
aclocal.m4
auto/
autom4te.cache/
config.cache
config.log
config.status
configure
cscope.*
lalsuite-*.tar.gz
tags
