*.swp
*.trs
*~
.DS_Store
/Makefile
/Makefile.in
/_inst/
/aclocal.m4
/autom4te.cache/
/build
/config.log
/config.status
/configure
/doxygen/Makefile
/doxygen/Makefile.in
/doxygen/src/Makefile
/doxygen/src/Makefile.in
/gnuscripts/Makefile
/gnuscripts/Makefile.in
/lalsuite-*.tar.gz
TAGS
auto/
