Source: lalsimulation
Section: lscsoft
Priority: optional
Maintainer: Adam Mercer <adam.mercer@ligo.org>
Build-Depends: debhelper (>= 9), pkg-config, dh-python, python-all-dev, python3-all-dev,
  zlib1g-dev, libgsl-dev | libgsl0-dev (>= 1.9), swig (>= 3.0.7), octave3.2-headers | liboctave-dev,
  python-numpy, python3-numpy,
  lal-dev (>= 6.16.1~),
  lal-python (>= 6.16.1~), lal-python3 (>= 6.16.1~),
  lal-octave (>= 6.16.1~)
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Standards-Version: 3.8.6

Package: lalsimulation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g, ${python:Depends},
  lal (>= 6.16.1~)
Description: LSC Algorithm Library Simulation
 The LSC Algorithm Simulation Library for gravitational wave data analysis.
 This package contains the shared-object libraries needed to run applications
 that use the LAL Simulation library.

Package: lalsimulation-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libgsl-dev | libgsl0-dev (>= 1.9),
  lal-dev (>= 6.16.1~),
  lalsimulation (= ${binary:Version})
Description: LSC Algorithm Library Simulation Developers
 The LSC Algorithm Simulation Library for gravitational wave data analysis.
 This package contains files needed build applications that use the LAL
 Simulation library.

Package: lalsimulation-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy,
  lalsimulation (= ${binary:Version}),
  lal-python (>= 6.16.1~)
Description: Python bindings for LALSimulation
 The LSC Algorithm Simulation Library for gravitational wave data analysis.
 This package contains Python bindings for the LAL Simulation library.

Package: lalsimulation-python3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-numpy,
  lalsimulation (= ${binary:Version}),
  lal-python3 (>= 6.16.1~)
Description: Python 3 bindings for LALSimulation
 The LSC Algorithm Simulation Library for gravitational wave data analysis.
 This package contains Python 3 bindings for the LAL Simulation library.

Package: lalsimulation-octave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, octave,
  lalsimulation (= ${binary:Version}),
  lal-octave (>= 6.16.1~)
Description: Octave bindings for LALSimulation
 The LSC Algorithm Simulation Library for gravitational wave data analysis.
 This package contains Octave bindings for the LAL Simulation library.
