Source: laldetchar
Section: lscsoft
Priority: optional
Maintainer: Adam Mercer <adam.mercer@ligo.org>
Build-Depends: debhelper (>= 7.0.0), pkg-config, python-all-dev,
  libgsl0-dev (>= 1.9), libglib2.0-dev, swig (>= 2.0.11~),
  octave3.2-headers, lal-dev (>= 6.12.0~),
  lal-python (>= 6.12.0~), lal-octave (>= 6.12.0~),
  lalmetaio-dev (>= 1.2.0), lalmetaio-python (>= 1.2.0),
  lalmetaio-octave (>= 1.2.0), lalburst-dev (>= 1.2.0),
  lalburst-python (>= 1.2.0), lalburst-octave (>= 1.2.0)
X-Python-Version: >= 2.6
Standards-Version: 3.8.6

Package: laldetchar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  libgsl0 (>= 1.9) | libgsl0ldbl (>= 1.10), libglib2.0-0,
  lal (>= 6.12.0~), lalmetaio (>= 1.2.0), lalburst (>= 1.2.0)
Description: LSC Algorithm Library Detector Characterisation
 The LSC Algorithm Detector Characterisation Library for gravitational
 wave data analysis. This package contains the shared-object libraries
 needed to run applications that use the LALDetChar library.

Package: laldetchar-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgsl0-dev (>= 1.9),
  libglib2.0-dev, lal-dev (>= 6.12.0~), lalmetaio-dev (>= 1.2.0),
  lalburst-dev (>= 1.2.0), laldetchar (= ${binary:Version})
Description: LSC Algorithm Library Detector Characterisation Developers
 The LSC Algorithm Detector Characterisation Library for gravitational
 wave data analysis. This package contains files needed build
 applications that use the LALDetChar library.

Package: laldetchar-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy,
  laldetchar (= ${binary:Version}), lal-python (>= 6.12.0~),
  lalmetaio-python (>= 1.2.0), lalburst-python (>= 1.2.0)
Description: Python bindings for LALDetChar

Package: laldetchar-octave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, octave,
  laldetchar (= ${binary:Version}), lal-octave (>= 6.12.0~),
  lalmetaio-python (>= 1.2.0), lalburst-python (>= 1.2.0)
Description: Octave bindings for LALDetChar
