*.aux
*.la
*.lo
*.loT
*.log
*.o
*.pc
*.pyc
*.pyo
.adoc
.deps
.dvi-dep
.libs
/_build/
/_inst/
/lal-*/
Makefile
Makefile.in
config.lt
doc/README.install
doc/autodoc/*.eps
doc/autodoc/*.pdf
doc/autodoc/*.tex
doc/autodoc/lal.sty
doc/autodoc/lalspec.*
doc/autodoc/ligodcc.cls
doc/autodoc/lsd.*
doc/lal-install.*
doc/lal-preinstall.*
doc/laldoc/laldoc
doc/lalspec.pdf
doc/lsd.dvi
doc/lsd.idx
doc/lsd.log
doc/lsd.out
doc/lsd.pdf
doc/lsd.toc
include/config.h
include/config.h.in
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
include/stamp-h1
lal-*.tar.gz
lal-user-env.csh
lal-user-env.sh
lal-user-env.shell
lal.spec
lib/lal/.vcsinfo
lib/lal/LALBuildInfo.c
lib/lal/LALConfig.h
lib/lal/LALVCSInfo.c
lib/lal/LALVCSInfo.h
lib/lal/LALVCSInfoHeader.h
lib/lal/git_info.sed
lib/lal/git_version
lib/lal/lal-version
lib/lal/stamp-h2
lib/lalsupport/test/*PrintVector.*
lib/lalsupport/test/?FS*.dat
lib/lalsupport/test/?TS*.dat
lib/lalsupport/test/ConfigFile.cfg
lib/lalsupport/test/ConfigFileTest
lib/lalsupport/test/ConfigFileTest2
lib/lalsupport/test/GzipTest
lib/lalsupport/test/LALMath3DPlotTest
lib/lalsupport/test/LALMathNDPlotTest
lib/lalsupport/test/Math3DNotebook.nb
lib/lalsupport/test/MathNDNotebook.nb
lib/lalsupport/test/NRWaveIOTest
lib/lalsupport/test/PrintFTSeriesTest
lib/lalsupport/test/PrintVectorTest
lib/lalsupport/test/ReadFTSeriesTest
lib/lalsupport/test/SFTfileIOTest
lib/lalsupport/test/SegmentsIOTest
lib/lalsupport/test/SegmentsOutput1.data
lib/lalsupport/test/StreamInputTest
lib/lalsupport/test/StreamSeriesInputTest
lib/lalsupport/test/UserInputTest
libtool
octave/
packages/*/doc/main.pdf
packages/*/include/*.tex
packages/*/src/*.tex
packages/*/test/*.out
packages/*/test/*.sft
packages/*/test/*.tex
packages/*/test/*.txt
packages/*/test/*PrintVector.*
packages/bank/test/BCVTemplates
packages/bank/test/BCVTemplatesFlatMesh
packages/bank/test/ChirpSpace
packages/bank/test/CoarseTest
packages/bank/test/CoarseTest2
packages/bank/test/GetOrientationEllipse
packages/bank/test/InspiralSpinBankTest
packages/bank/test/MetricTest
packages/bank/test/MetricTestBCV
packages/bank/test/MetricTestPTF
packages/bank/test/PNTemplates
packages/bank/test/SpaceCovering
packages/date/test/DateStringTest
packages/date/test/DelayTest
packages/date/test/GPStoFloatTest
packages/date/test/GPStoGMST1Test
packages/date/test/GPStoUTCTest
packages/date/test/IncrementGPSTest
packages/date/test/JulianDayTest
packages/date/test/LMSTTest
packages/date/test/LMST2Test
packages/date/test/LeapSecsTest
packages/date/test/StrToGPSTest
packages/date/test/UTCtoGPSTest
packages/factories/test/ArrayFactoriesTest
packages/factories/test/ArraySequenceFactoriesTest
packages/factories/test/StringVectorTest
packages/factories/test/VectorFactoriesTest
packages/factories/test/VectorSequenceFactoriesTest
packages/fft/src/CudaFFT.cpp
packages/fft/test/*.dat
packages/fft/test/AverageSpectrumTest
packages/fft/test/AvgSpecTest
packages/fft/test/ComplexFFTTest
packages/fft/test/RealFFTTest
packages/fft/test/TimeFreqFFTTest
packages/findchirp/test/FindChirpBCVSpinTest
packages/findchirp/test/FindChirpBankVetoTest
packages/findchirp/test/FindChirpTDTest
packages/inject/test/BasicInjectTest
packages/inject/test/GeneratePPNAmpCorInspiralTest
packages/inject/test/GeneratePPNInspiralTest
packages/inject/test/GeneratePulsarSignalTest
packages/inject/test/GeocentricGeodeticTest
packages/inject/test/InjectTest
packages/inject/test/InjectionInterfaceTest
packages/inject/test/SimulateTaylorCWTest
packages/inject/test/SkyCoordinatesTest
packages/inspiral/test/GenerateInspiralWaveform
packages/inspiral/test/LALHybridTest
packages/noisemodels/test/FilterTest
packages/noisemodels/test/NoisePSDTest
packages/noisemodels/test/RandomInspiralSignalTest
packages/slopefilters/test/SlopeDetectorFilterTest
packages/stats/test/LALCorrelationTest
packages/stats/test/LALMomentTest
packages/std/test/LALConstantsTest
packages/std/test/LALGSLTest
packages/std/test/LALMallocTest
packages/std/test/LALVersionTest
packages/std/test/StringConvertTest
packages/tdfilter/test/BandPassTest
packages/tdfilter/test/IIRFilterTest
packages/tdfilter/test/LPCTest
packages/tools/test/CoherentEstimationTest
packages/tools/test/ComputeTransferTest
packages/tools/test/CubicSplineTriggerInterpolantTest
packages/tools/test/DetectorSiteTest
packages/tools/test/FrequencySeriesTest
packages/tools/test/IndependentDetResponseTest
packages/tools/test/DetResponseTest
packages/tools/test/LanczosTriggerInterpolantTest
packages/tools/test/NearestNeighborTriggerInterpolantTest
packages/tools/test/QuadraticFitTriggerInterpolantTest
packages/tools/test/ResampleTimeSeriesTest
packages/tools/test/SegmentsTest
packages/tools/test/SequenceTest
packages/tools/test/SkymapTest
packages/tools/test/TimeSeriesTest
packages/tools/test/TimeSeriesInterpTest
packages/tools/test/UnitsTest
packages/utilities/test/CCoarseGrainFrequencySeriesTest
packages/utilities/test/CSInterpolateTest
packages/utilities/test/DCoarseGrainFrequencySeriesTest
packages/utilities/test/DetInverseTest
packages/utilities/test/DirichletTest
packages/utilities/test/EigenTest
packages/utilities/test/FindRootTest
packages/utilities/test/FlatMeshTest
packages/utilities/test/IntegrateTest
packages/utilities/test/InterpolateTest
packages/utilities/test/LALRunningMedianTest
packages/utilities/test/MersenneRandomTest
packages/utilities/test/NormalizeSFTRngMedTest
packages/utilities/test/ODETest
packages/utilities/test/RandomTest
packages/utilities/test/RngMedBiasTest
packages/utilities/test/SCoarseGrainFrequencySeriesTest
packages/utilities/test/SFTCleanTest
packages/utilities/test/SortTest
packages/utilities/test/ZCoarseGrainFrequencySeriesTest
packages/vectorops/test/VectorIndexRangeTest
packages/vectorops/test/VectorOpsTest
packages/window/test/WindowTest
python/lal/__init__.py
python/lal/_lal*
python/lal/git_version.py
python/lal/lal.py
swig/swiglal*
