*.aux
*.la
*.lo
*.loT
*.log
*.o
*.pc
*.pyc
*.pyo
.adoc
.deps
.dvi-dep
.libs
/_build/
/_inst/
/lal-*/
AUTHORS
Makefile
Makefile.in
config.lt
doxygen/autogen.dox
doxygen/doxygen.cfg
doxygen/doxygen_objdb_*.tmp
doxygen/doxygen_sqlite3.db
doxygen/filter
doxygen/in/
doxygen/out/
doxygen/test_doxygen.*
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lal-*.tar.xz
lal-user-env.csh
lal-user-env.sh
lal-user-env.shell
lal.spec
libtool
octave/
python/lal/__init__.py
python/lal/_lal*
python/lal/git_version.py
python/lal/lal.py
src/LALBuildInfo.c
src/LALConfig.h
src/LALVCSInfo.c
src/LALVCSInfo.h
src/LALVCSInfoHeader.h
src/config.h
src/config.h.in
src/fft/CudaFFT.cpp
src/git_version
src/lal-simd-detect
src/lal-version
src/stamp-h1
src/stamp-h2
swig/swiglal*
test/*/*.dat
test/*/*.out
test/*/*.txt
test/*/*PrintVector.*
test/date/DelayTest
test/date/GPStoFloatTest
test/date/GPStoGMST1Test
test/date/GPStoUTCTest
test/date/IncrementGPSTest
test/date/JulianDayTest
test/date/LMST2Test
test/date/LMSTTest
test/date/LeapSecsTest
test/date/MultiplyGPSTest
test/date/StrToGPSTest
test/date/UTCtoGPSTest
test/factories/ArrayFactoriesTest
test/factories/ArraySequenceFactoriesTest
test/factories/StringVectorTest
test/factories/VectorFactoriesTest
test/factories/VectorSequenceFactoriesTest
test/fft/AverageSpectrumTest
test/fft/AvgSpecTest
test/fft/ComplexFFTTest
test/fft/RealFFTTest
test/fft/TimeFreqFFTTest
test/inject/GeocentricGeodeticTest
test/inject/SkyCoordinatesTest
test/noisemodels/NoisePSDTest
test/stats/LALCorrelationTest
test/stats/LALMomentTest
test/stats/XLALChisqTest
test/std/LALConstantsTest
test/std/LALGSLTest
test/std/LALMallocPerf
test/std/LALMallocTest
test/std/LALStringTest
test/std/LALVersionTest
test/std/StringConvertTest
test/support/ConfigFileTest
test/support/GzipTest
test/support/H5FileIOTest
test/support/LALMath3DPlotTest
test/support/LALMathNDPlotTest
test/support/Math3DNotebook.nb
test/support/MathNDNotebook.nb
test/support/ParseStringValueTest
test/support/PrintFTSeriesTest
test/support/PrintVectorTest
test/support/ReadFTSeriesTest
test/support/SegmentsIOTest
test/support/SegmentsOutput1.data
test/support/StreamInputTest
test/support/StreamSeriesInputTest
test/support/TranslateAnglesTest
test/support/TranslateMJDTest
test/support/UserInputParseTest
test/support/UserInputTest
test/support/test.h5
test/tdfilter/BandPassTest
test/tdfilter/IIRFilterTest
test/tools/ComputeTransferTest
test/tools/CubicSplineTriggerInterpolantTest
test/tools/DetResponseTest
test/tools/DetectorSiteTest
test/tools/FrequencySeriesTest
test/tools/IndependentDetResponseTest
test/tools/LanczosTriggerInterpolantTest
test/tools/NearestNeighborTriggerInterpolantTest
test/tools/QuadraticFitTriggerInterpolantTest
test/tools/SegmentsTest
test/tools/SequenceTest
test/tools/SkymapTest
test/tools/TimeSeriesInterpTest
test/tools/TimeSeriesTest
test/tools/UnitsTest
test/utilities/CCoarseGrainFrequencySeriesTest
test/utilities/CSInterpolateTest
test/utilities/DCoarseGrainFrequencySeriesTest
test/utilities/DetInverseTest
test/utilities/DirichletTest
test/utilities/EigenTest
test/utilities/FindRootTest
test/utilities/IntegrateTest
test/utilities/InterpolateTest
test/utilities/LALHashFuncTest
test/utilities/LALHashTblTest
test/utilities/LALHeapTest
test/utilities/LALRunningMedianTest
test/utilities/MersenneRandomTest
test/utilities/ODETest
test/utilities/RandomTest
test/utilities/RngMedBiasTest
test/utilities/SCoarseGrainFrequencySeriesTest
test/utilities/SortTest
test/utilities/ZCoarseGrainFrequencySeriesTest
test/vectorops/VectorIndexRangeTest
test/vectorops/VectorMathTest
test/vectorops/VectorOpsTest
test/window/WindowTest
