*.aux
*.la
*.lo
*.loT
*.o
*.pc
.adoc
.deps
.dvi-dep
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
doc/README.install
doc/autodoc/*.eps
doc/autodoc/*.pdf
doc/autodoc/*.tex
doc/autodoc/lal.sty
doc/autodoc/lalspec.*
doc/autodoc/ligodcc.cls
doc/autodoc/lsd.*
doc/doxygen/
doc/lal-install.*
doc/lal-preinstall.*
doc/laldoc/laldoc
doc/lalspec.pdf
doc/lsd.dvi
doc/lsd.idx
doc/lsd.log
doc/lsd.out
doc/lsd.pdf
doc/lsd.toc
include/config.h
include/config.h.in
include/lal/*.h
include/lal/stamp-h2
include/stamp-h1
lal-*.tar.gz
lal-config
lal.spec
lib/.vcsinfo
lib/LALBuildDate.c
lib/LALVCSInfo.h
lib/git_info.sed
lib/git_version
lib/lal-version
libtool
misc/__lalGitID.h
misc/lal-user-env.*sh
misc/lalGitID.h
misc/uninstall-lal.sh
packages/*/doc/main.pdf
packages/*/include/*.tex
packages/*/src/*.tex
packages/*/test/*.out
packages/*/test/*.sft
packages/*/test/*.tex
packages/*/test/*.txt
packages/*/test/*PrintVector.*
packages/bank/test/BCVTemplates
packages/bank/test/BCVTemplatesFlatMesh
packages/bank/test/ChirpSpace
packages/bank/test/CoarseTest
packages/bank/test/CoarseTest2
packages/bank/test/GetOrientationEllipse
packages/bank/test/InspiralSpinBankTest
packages/bank/test/MetricTest
packages/bank/test/MetricTestBCV
packages/bank/test/MetricTestPTF
packages/bank/test/PNTemplates
packages/bank/test/SpaceCovering
packages/block/test/BlockTest
packages/burstsearch/test/SkymapTest
packages/burstsearch/test/ThresholdsTest
packages/clremoval/test/CLRTest
packages/clremoval/test/CLRoutdata.asc
packages/comm/src/Exchange.c
packages/comm/src/SendRecv.c
packages/date/test/TestDateString
packages/date/test/TestDelay
packages/date/test/TestGPStoFloat
packages/date/test/TestGPStoGMST1
packages/date/test/TestGPStoUTC
packages/date/test/TestIncrementGPS
packages/date/test/TestJulianDay
packages/date/test/TestLMST
packages/date/test/TestLMST2
packages/date/test/TestLeapSecs
packages/date/test/TestStrToGPS
packages/date/test/TestUTCtoGPS
packages/factories/include/AVFactories.h
packages/factories/include/SeqFactories.h
packages/factories/src/ArrayFactories.c
packages/factories/src/ArraySequenceFactories.c
packages/factories/src/VectorFactories.c
packages/factories/src/VectorSequenceFactories.c
packages/factories/test/ArrayFactoriesTest
packages/factories/test/ArrayFactoriesTest.c
packages/factories/test/ArraySequenceFactoriesTest
packages/factories/test/ArraySequenceFactoriesTest.c
packages/factories/test/VectorFactoriesTest
packages/factories/test/VectorFactoriesTest.c
packages/factories/test/VectorSequenceFactoriesTest
packages/factories/test/VectorSequenceFactoriesTest.c
packages/fft/test/*.dat
packages/fft/test/AverageSpectrumTest
packages/fft/test/AvgSpecTest
packages/fft/test/ComplexFFTTest
packages/fft/test/RealFFTTest
packages/fft/test/TimeFreqFFTTest
packages/findchirp/test/FindChirpBCVSpinTest
packages/findchirp/test/FindChirpTDTest
packages/framedata/src/FrameSeries.c
packages/framedata/test/AggregationCacheTest
packages/framedata/test/AggregationTest
packages/framedata/test/FrameCacheTest
packages/framedata/test/FrameStreamTest
packages/framedata/test/H1:LSC-AS_Q.*
packages/framedata/test/MakeFrames
packages/framedata/test/Read40mData
packages/framedata/test/ReadGEOData
packages/framedata/test/ReadLHOData
packages/framedata/test/catalog
packages/framedata/test/catalog.test
packages/framedata/test/dq_vector.dat
packages/framedata/test/series.dat
packages/framedata/test/series_dq.dat
packages/framedata/test/state_vector.dat
packages/hello/test/LALHelloTest
packages/houghpulsar/test/OutHistogram.asc
packages/houghpulsar/test/OutHough.asc
packages/houghpulsar/test/TestConstructPLUT
packages/houghpulsar/test/TestDriveHough
packages/houghpulsar/test/TestDriveNDHough
packages/houghpulsar/test/TestHoughMap
packages/houghpulsar/test/TestNDConstructPLUT
packages/houghpulsar/test/TestNDHoughMap
packages/houghpulsar/test/TestNDPeak2PHMD
packages/houghpulsar/test/TestPeak2PHMD
packages/houghpulsar/test/TestStatistics
packages/houghpulsar/test/TestVelocity
packages/inject/test/BasicInjectTest
packages/inject/test/GeneratePPNAmpCorInspiralTest
packages/inject/test/GeneratePPNInspiralTest
packages/inject/test/GeneratePulsarSignalTest
packages/inject/test/GeocentricGeodeticTest
packages/inject/test/InjectTest
packages/inject/test/InjectionInterfaceTest
packages/inject/test/SimulateTaylorCWTest
packages/inject/test/SkyCoordinatesTest
packages/inspiral/test/GenerateInspiralWaveform
packages/inspiral/test/LALHybridTest
packages/noisemodels/test/FilterTest
packages/noisemodels/test/NoisePSDTest
packages/noisemodels/test/RandomInspiralSignalTest
packages/pulsar/test/DirectedMeshTest
packages/pulsar/test/ExtrapolatePulsarSpinsTest
packages/pulsar/test/FitToPulsarTest
packages/pulsar/test/FlatMeshTest
packages/pulsar/test/FoldAmplitudesTest
packages/pulsar/test/GeneralMeshTest
packages/pulsar/test/GeneralMetricTest
packages/pulsar/test/GetAMCoeffsTest
packages/pulsar/test/HeterodynePulsarTest
packages/pulsar/test/LALBarycenterTest
packages/pulsar/test/NewGetAMCoeffsTest
packages/pulsar/test/PtoleMeshTest
packages/pulsar/test/PtoleMetricTest
packages/pulsar/test/PulsarCatTest
packages/pulsar/test/ResampleTest
packages/pulsar/test/SkyMetricTest
packages/pulsar/test/StackMetricTest
packages/pulsar/test/TwoDMeshTest
packages/pulsar/test/earth*.ilwd
packages/pulsar/test/sun*.ilwd
packages/sample/test/LALSampleTest
packages/sample/test/LALTemplateTest
packages/slopefilters/test/SlopeDetectorFilterTest
packages/stats/src/LALMoment.c
packages/stats/test/LALCorrelationTest
packages/stats/test/LALMomentTest
packages/std/src/Grid.c
packages/std/test/LALGSLTest
packages/std/test/LALMallocTest
packages/std/test/LALVersionTest
packages/std/test/StringConvertTest
packages/stochastic/test/??_714382918*.dat
packages/stochastic/test/AstroOmegaTest
packages/stochastic/test/CZeroPadAndFFTTest
packages/stochastic/test/OverlapReductionFunctionTest
packages/stochastic/test/SZeroPadAndFFTTest
packages/stochastic/test/SimulatePopcornTest
packages/stochastic/test/SimulateSBTest
packages/stochastic/test/StochasticCrossCorrelationSpectrumTest
packages/stochastic/test/StochasticCrossCorrelationStatisticTest
packages/stochastic/test/StochasticHeterodynedCrossCorrelationStatisticTest
packages/stochastic/test/StochasticInverseNoiseTest
packages/stochastic/test/StochasticOmegaGWTest
packages/stochastic/test/StochasticOptimalFilterNormalizationTest
packages/stochastic/test/StochasticOptimalFilterTest
packages/stochastic/test/WHITENED-SB?
packages/support/src/PrintFrequencySeries.c
packages/support/src/PrintTimeSeries.c
packages/support/src/PrintVector.c
packages/support/src/ReadFrequencySeries.c
packages/support/src/ReadTimeSeries.c
packages/support/src/StreamGridInput.c
packages/support/src/StreamGridOutput.c
packages/support/src/StreamSequenceInput.c
packages/support/src/StreamSeriesInput.c
packages/support/src/StreamSeriesOutput.c
packages/support/src/StreamVectorInput.c
packages/support/src/StreamVectorSequenceInput.c
packages/support/test/?FS*.dat
packages/support/test/?TS*.dat
packages/support/test/ConfigFileTest
packages/support/test/LALMath3DPlotTest
packages/support/test/LALMathNDPlotTest
packages/support/test/LALXMLTest
packages/support/test/Math3DNotebook.nb
packages/support/test/MathNDNotebook.nb
packages/support/test/NRWaveIOTest
packages/support/test/PrintFTSeriesTest
packages/support/test/PrintVectorTest
packages/support/test/ReadFTSeriesTest
packages/support/test/SFTfileIOTest
packages/support/test/SegmentsIOTest
packages/support/test/SegmentsOutput1.data
packages/support/test/StreamInputTest
packages/support/test/StreamSeriesInputTest
packages/support/test/UserInputTest
packages/tdfilter/test/BandPassTest
packages/tdfilter/test/IIRFilterTest
packages/tdfilter/test/LPCTest
packages/tfclusters/test/TFCThresholdsTest1
packages/tfclusters/test/TFClustersTest1
packages/tfclusters/test/TFClustersTest2
packages/tfclusters/test/TFClustersTest3
packages/tfclusters/test/TFClustersTest4
packages/timefreq/doc/Tfr.log
packages/timefreq/doc/Tfr.pdf
packages/timefreq/test/TfrPswvTest
packages/timefreq/test/TfrRspTest
packages/timefreq/test/TfrSpTest
packages/timefreq/test/TfrWvTest
packages/tools/include/FrequencySeries.h
packages/tools/include/Sequence.h
packages/tools/include/TimeSeries.h
packages/tools/src/FrequencySeries.c
packages/tools/src/Sequence.c
packages/tools/src/TimeSeries.c
packages/tools/test/CoherentEstimationTest
packages/tools/test/ComputeTransferTest
packages/tools/test/DetectorSiteTest
packages/tools/test/FrequencySeriesTest
packages/tools/test/LALIndependentTestDetResponse
packages/tools/test/LALTestDetResponse0
packages/tools/test/ResampleTimeSeriesTest
packages/tools/test/SegmentsTest
packages/tools/test/SequenceTest
packages/tools/test/TimeSeriesTest
packages/tools/test/UnitsTest
packages/tracksearch/test/TrackSearchTest
packages/utilities/src/MatrixOps.c
packages/utilities/test/CCoarseGrainFrequencySeriesTest
packages/utilities/test/DCoarseGrainFrequencySeriesTest
packages/utilities/test/DetInverseTest
packages/utilities/test/DirichletTest
packages/utilities/test/EigenTest
packages/utilities/test/FindRootTest
packages/utilities/test/IntegrateTest
packages/utilities/test/InterpolateTest
packages/utilities/test/LALRunningMedianTest
packages/utilities/test/MersenneRandomTest
packages/utilities/test/NormalizeSFTRngMedTest
packages/utilities/test/ODETest
packages/utilities/test/RandomTest
packages/utilities/test/RngMedBiasTest
packages/utilities/test/SCoarseGrainFrequencySeriesTest
packages/utilities/test/SFTCleanTest
packages/utilities/test/SortTest
packages/utilities/test/ZCoarseGrainFrequencySeriesTest
packages/vectorops/include/VectorIndexRange.h
packages/vectorops/src/MatrixDivide.c
packages/vectorops/src/MatrixMultiply.c
packages/vectorops/src/MatrixPower.c
packages/vectorops/src/MiscMatlab.c
packages/vectorops/src/VectorIndexRange.c
packages/vectorops/test/VectorIndexRangeTest
packages/vectorops/test/VectorOpsTest
packages/window/test/WindowTest
