Source: lal
Section: science
Priority: optional
Maintainer: Steffen Grunewald <steffen.grunewald@aei.mpg.de>
Build-Depends: debhelper (>= 9), pkg-config, dh-python, python-all-dev, python3-all-dev, zlib1g-dev,
  libgsl-dev | libgsl0-dev (>= 1.9), libfftw3-dev, swig (>= 3.0.7),
  liboctave-dev, python-numpy, python3-numpy, bc, libhdf5-dev, less, python-six, python3-six, python-glue, python3-glue
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Standards-Version: 3.9.8

Package: lal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, less
Description: LSC Algorithm Library
 The LSC Algorithm Library for gravitational wave analysis.
 This package contains the shared-object libraries needed to run applications
 that use the LAL library.

Package: lal-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g-dev,
  libgsl-dev | libgsl0-dev (>= 1.9), libfftw3-dev, libhdf5-dev, lal (= ${binary:Version})
Description: Files and documentation needed for compiling programs that use LAL
 The LSC Algorithm Library for gravitational wave analysis.
 This package contains files needed to build applications that use the LAL
 library as well as the documentation for the library.

Package: lal-python
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lal (= ${binary:Version}),
  ${python:Depends}, python-six, python-glue
Description: Python bindings for LAL
 The LSC Algorithm Library for gravitational wave analysis.
 This package contains Python bindings for the LAL library.

Package: lal-python3
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lal (= ${binary:Version}),
  ${python3:Depends}, python3-six, python3-glue
Description: Python 3 bindings for LAL
 The LSC Algorithm Library for gravitational wave analysis.
 This package contains Python 3 bindings for the LAL library.

Package: lal-octave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lal (= ${binary:Version}),
  octave
Description: Octave bindings for LAL
 The LSC Algorithm Library for gravitational wave analysis.
 This package contains Octave bindings for the LAL library.
