#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	PKG_CONFIG_PATH="" \
	./configure \
	    --prefix=/usr \
	    --sysconfdir=/etc \
	    --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	    --enable-nightly=no \
	    --disable-gcc-flags \
	    --disable-debug

override_dh_auto_build:
	$(MAKE) V=1
	-yes "" | $(MAKE) dvi
#	-yes "" | $(MAKE) check
#	-yes "" | $(MAKE) distcheck
