Source: lalstochastic
Section: lscsoft
Priority: optional
Maintainer: Steffen Grunewald <steffen.grunewald@aei.mpg.de>
Build-Depends: debhelper (>= 7), pkg-config, python-all-dev,
  zlib1g-dev, libmetaio-dev (>= 8.2), lal-dev (>= 6.9.0),
  lalmetaio-dev (>= 1.0.5)
X-Python-Version: >= 2.6
Standards-Version: 3.8.6

Package: lalstochastic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libmetaio1 (>= 8.2), lal (>= 6.9.0), lalmetaio (>= 1.0.5)
Description: LSC Algorithm Library Stochastic
 The LSC Algorithm Stochastic Library for gravitational wave data analysis.
 This package contains the shared-object libraries needed to run applications
 that use the LAL Stochastic library.

Package: lalstochastic-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libmetaio-dev (>= 8.2), lal-dev (>= 6.9.0),
  lalmetaio-dev (>= 1.0.5), lalstochastic (= ${binary:Version})
Description: LSC Algorithm Library Stochastic Developers
 The LSC Algorithm Stochastic Library for gravitational wave data analysis.
 This package contains files needed build applications that use the LAL
 Stochastic library.
