*.la
*.lo
*.log
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
include/lal/*.h
include/lal/*.i
lalframe-*.tar.gz
lalframe.pc
lalframe.spec
libtool
python/__init__.py
python/git_version.py
src/LALFrameConfig.h
src/LALFrameVCSInfo.h
src/config.h
src/config.h.in
src/lalfr-*
src/lalframe-user-env.csh
src/lalframe-user-env.sh
src/lalframe-user-env.shell
src/stamp-h1
src/stamp-h2
test/AggregationTest
test/LALFrSeriesTest
test/H1:LSC-AS_Q.???
test/MakeFrames
test/TestLowLatencyData*
test/catalog*
