*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
config.lt
include/lal/*.h
include/lal/*.i
lalframe-*.tar.gz
lalframe.spec
libtool
python/__init__.py
python/git_version.py
src/LALFrameConfig.h
src/LALFrameBuildInfo.c
src/LALFrameVCSInfo.h
src/config.h
src/config.h.in
src/lalfr-*[!1]
src/lalframe-user-env.csh
src/lalframe-user-env.sh
src/lalframe-user-env.shell
src/stamp-h1
src/stamp-h2
test/AggregationTest
test/H1:LSC-AS_Q.???
test/LALFrSeriesTest
test/MakeFrames
test/TestLowLatencyData*
test/catalog*
