Source: ligo-gracedb
Section: python
Priority: extra
Maintainer: Brian Moe <brian.moe@ligo.org>
Build-Depends: debhelper (>= 7), python-support, python (>=2.4)
Standards-Version: 3.8.4
Homepage: http://www.lsc-group.phys.uwm.edu/daswg/projects/gracedb.html

Package: python-ligo-gracedb
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-m2crypto
Description: Gracedb - Gravitational Wave Candidate Event Database
  The gravitational-wave candidate event database (GraCEDb) is a system
  to organize candidate events from gravitational-wave searches and
  to provide an environment to record information about follow-ups. 

