Source: lalapps
Section: lscsoft
Priority: optional
Maintainer: Steffen Grunewald <steffen.grunewald@aei.mpg.de>
Build-Depends: debhelper (>= 7), pkg-config, python-all-dev,
  libgsl0-dev (>= 1.9), libfftw3-dev, zlib1g-dev,
  libframe-dev (>= 8.0), libmetaio-dev (>= 8.2), lal-dev (>= 6.10.0),
  lalframe-dev (>= 1.0.10), lalmetaio-dev (>= 1.1.0),
  lalsimulation-dev (>= 0.7.0), lalburst-dev (>= 1.2.0),
  lalinspiral-dev (>= 1.5.0), lalpulsar-dev (>= 1.7.0),
  lalstochastic-dev (>= 1.1.4), lalinference-dev (>= 1.1.0),
  bc
X-Python-Version: >= 2.6
Standards-Version: 3.8.6

Package: lalapps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
  python-healpy,
  libgsl0 (>= 1.9) | libgsl0ldbl (>= 1.10), fftw3, zlib1g,
  libframe1 (>= 8.0), libmetaio1 (>= 8.2), lal (>= 6.10.0),
  lalframe (>= 1.0.10), lalmetaio (>= 1.1.0), lalsimulation (>= 0.7.0),
  lalburst (>= 1.2.0), lalinspiral (>= 1.5.0), lalpulsar (>= 1.7.0),
  lalstochastic (>= 1.1.4), lalinference (>= 1.1.0)
Recommends: python (>= 2.6)
Description: LSC Algorithm Library Applications
 The LSC Algorithm Library Applications for gravitational wave data analysis.
 This package contains applications that are built on tools in the
 LSC Algorithm Library.
