#!/usr/bin/make -f
%:
	dh $@

PREFIX=/usr

override_dh_auto_configure:
	PKG_CONFIG_PATH="" \
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	    --disable-silent-rules \
	    --prefix=$(PREFIX) \
	    --sysconfdir=/etc \
	    --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	    --disable-debug \
	    --disable-gcc-flags

override_dh_auto_test:
