#!/usr/bin/make -f

PYVERS=$(shell pyversions -r)

%:
	dh $@ --with=python2

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_install:
	for pyvers in $(PYVERS) ; do \
	PYTHON="$$pyvers" \
	PKG_CONFIG_PATH="" \
	./configure \
	    --prefix=/usr \
	    --sysconfdir=/etc \
	    --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	    --disable-gcc-flags \
	    --disable-debug && \
	$(MAKE) V=1 && \
	$(MAKE) V=1 check && \
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp && \
	$(MAKE) clean ; \
	done
	dh_install

override_dh_auto_test:
