__pycache__
.deps
.libs
*.la
*.lo
*.log
*.man
*.o
*.pc
*.pyc
*.pyman
*.pyo
/_build/
/_inst/
/lalinference-*/
AUTHORS
config.lt
debian/control
doxygen/autogen.dox
doxygen/doxygen_objdb_*.tmp
doxygen/doxygen_sqlite3.db
doxygen/doxygen.cfg
doxygen/filter
doxygen/in/
doxygen/out/
doxygen/test_doxygen.*
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalinference-*.tar.xz
lalinference-user-env.csh
lalinference-user-env.fish
lalinference-user-env.sh
lalinference-user-env.shell
lalinference.spec
libtool
Makefile
Makefile.in
octave/
python/cbcBayesBurstPostProc
python/cbcBayesBurstPostProc.py.tmp
python/cbcBayesBurstPPAnalysis
python/cbcBayesCombinePosteriors
python/cbcBayesCombinePTMCMCh5s
python/cbcBayesCompPos
python/cbcBayesDIEvidence
python/cbcBayesGraceDBinfo
python/cbcBayesMCMC2pos
python/cbcBayesPlotSpinDisk
python/cbcBayesPosToSimBurst
python/cbcBayesPosToSimInspiral
python/cbcBayesPostProc
python/cbcBayesPPAnalysis
python/cbcBayesThermoInt
python/imrtgr_imr_consistency_test
python/lalinference_burst_pp_pipe
python/lalinference_coherence_test
python/lalinference_compute_roq_weights
python/lalinference_cpnest
python/lalinference_evolve_spins_and_append_samples
python/lalinference_merge_posteriors
python/lalinference_multi_pipe
python/lalinference_nest2pos
python/lalinference_pipe
python/lalinference_pp_pipe
python/lalinference_review_test
python/lalinference_tiger_pipe
python/lalinference/__init__.py
python/lalinference/_bayespputils.so
python/lalinference/_distance.so
python/lalinference/_lalinference*
python/lalinference/_moc.so
python/lalinference/git_version.py
python/lalinference/lalinference.py
lib/config.h
lib/config.h.in
lib/git_version
lib/lalinference_bench
lib/lalinference_burst
lib/lalinference_datadump
lib/lalinference_injectedlike
lib/lalinference_nest
lib/lalinference_version
lib/LALInferenceBuildInfoHeader.h
lib/LALInferenceConfig.h
lib/LALInferenceVCSInfo.c
lib/LALInferenceVCSInfo.h
lib/LALInferenceVCSInfoHeader.h
lib/stamp-h1
lib/stamp-h2
lib/version.c
swig/.swigdeps
swig/swiglal_*
swig/swiglalinference.i*
test/.cache
test/.pytest_cache
test/LALInferenceGenerateROQTest
test/LALInferenceHDF5Test
test/LALInferenceInjectionTest
test/LALInferenceKDTest
test/LALInferenceLikelihoodTest
test/LALInferenceMultiBandTest
test/LALInferencePriorTest
test/LALInferenceProposalTest
test/LALInferenceTest
test/LALInferenceXMLTest
test/test_bayestar_lattice_tmpltbank.xml
test/test_bayestar_littlehope.xml
test/test_bayestar_prune_neighborhood_tmpltbank.xml
test/test_bayestar_realize_coincs.xml
test/test_bayestar_sample_model_psd.xml
test/test_bayestar_sim_to_tmpltbank.xml
test/test_cubic_interp
test/test_vot.xml
test/test.hdf5
