*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
config.lt
include/lal/*.h
include/lal/*.i
lalinference-*.tar.gz
lalinference.spec
libtool
python/__init__.py
python/git_version.py
src/LALInferenceConfig.h
src/LALInferenceVCSInfo.h
src/config.h
src/config.h.in
src/git_version
src/lalinference-user-env.csh
src/lalinference-user-env.sh
src/lalinference-user-env.shell
src/stamp-h1
src/stamp-h2
test/LALInferenceInjectionTest
test/LALInferenceKDTest
test/LALInferenceLikelihoodTest
test/LALInferencePriorTest
test/LALInferenceProposalTest
test/LALInferenceTest
test/LALInferenceXMLTest
test/test_vot.xml
