*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
config.lt
bin/bayestar_aggregate_found_injections
bin/bayestar_bin_samples
bin/bayestar_lattice_tmpltbank
bin/bayestar_littlehope
bin/bayestar_localize_coincs
bin/bayestar_localize_lvalert
bin/bayestar_plot_allsky
bin/bayestar_plot_found_injections
bin/bayestar_plot_pileup
bin/bayestar_prune_neighborhood_tmpltbank
bin/bayestar_realize_coincs
bin/bayestar_sim_to_tmpltbank
bin/python_config.sed
include/lal/*.h
include/lal/*.i
lalinference-*.tar.gz
lalinference.spec
libtool
python/__init__.py
python/git_version.py
src/LALInferenceConfig.h
src/LALInferenceVCSInfo.h
src/config.h
src/config.h.in
src/git_version
src/lalinference-user-env.csh
src/lalinference-user-env.sh
src/lalinference-user-env.shell
src/stamp-h1
src/stamp-h2
test/LALInferenceInjectionTest
test/LALInferenceKDTest
test/LALInferenceLikelihoodTest
test/LALInferencePriorTest
test/LALInferenceProposalTest
test/LALInferenceTest
test/LALInferenceXMLTest
test/test_vot.xml
