*.la
*.lo
*.log
*.o
*.pc
*.pyc
*.pyo
.deps
.libs
.pybin
/_build/
/_inst/
/lalmetaio-*/
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalmetaio-*.tar.gz
lalmetaio-user-env.csh
lalmetaio-user-env.sh
lalmetaio-user-env.shell
lalmetaio.spec
libtool
octave/
python/lalmetaio/__init__.py
python/lalmetaio/_lalmetaio*
python/lalmetaio/git_version.py
python/lalmetaio/lalmetaio.py
src/LALMetaIOBuildInfo.c
src/LALMetaIOConfig.h
src/LALMetaIOVCSInfo.c
src/LALMetaIOVCSInfo.h
src/LALMetaIOVCSInfoHeader.h
src/config.h
src/config.h.in
src/git_version
src/stamp-h1
src/stamp-h2
swig/swiglal*
