*.la
*.lo
*.log
*.man
*.o
*.pc
*.pyc
*.pyo
.deps
.libs
/_build/
/_inst/
/lalmetaio-*/
Makefile
Makefile.in
bin/lalmetaio_version
bin/version.c
config.lt
debian/control
debian/liblal*.install
doxygen/autogen.dox
doxygen/doxygen.cfg
doxygen/doxygen_header.html
doxygen/doxygen_objdb_*.tmp
doxygen/doxygen_sqlite3.db
doxygen/filter
doxygen/in/
doxygen/layout.xml
doxygen/make_autogen_dox
doxygen/out/
doxygen/test_doxygen.*
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalmetaio-*.tar.xz
lalmetaio-user-env.csh
lalmetaio-user-env.fish
lalmetaio-user-env.sh
lalmetaio-user-env.shell
lalmetaio.spec
lib/LALMetaIOBuildInfoHeader.h
lib/LALMetaIOConfig.h
lib/LALMetaIOVCSInfo.c
lib/LALMetaIOVCSInfo.h
lib/LALMetaIOVCSInfoHeader.h
lib/config.h
lib/config.h.in
lib/git_version
lib/stamp-h1
lib/stamp-h2
libtool
octave/
python/lalmetaio/__init__.py
python/lalmetaio/_lalmetaio*
python/lalmetaio/git_version.py
swig/.swigdeps
swig/swiglal_*
swig/swiglalmetaio.i*
