*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
/_build/
/_inst/
/lalmetaio-*/
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalmetaio-*.tar.gz
lalmetaio-user-env.csh
lalmetaio-user-env.sh
lalmetaio-user-env.shell
lalmetaio.spec
libtool
python/__init__.py
python/git_version.py
src/LALMetaIOBuildInfo.c
src/LALMetaIOConfig.h
src/LALMetaIOVCSInfo.h
src/config.h
src/config.h.in
src/git_version
src/stamp-h1
src/stamp-h2
