*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
lalpulsar-*.tar.gz
lalpulsar.spec
libtool
python/__init__.py
python/git_version.py
src/LALPulsarBuildInfo.c
src/LALPulsarConfig.h
src/LALPulsarVCSInfo.h
src/config.h
src/config.h.in
src/git_version
src/lalpulsar-user-env.csh
src/lalpulsar-user-env.sh
src/lalpulsar-user-env.shell
src/stamp-h1
src/stamp-h2
test/BinarySSBTimesTest
test/ExtrapolatePulsarSpinsTest
test/FileIOTest
test/FitToPulsarTest
test/FlatMeshTest
test/FoldAmplitudesTest
test/GeneralMeshTest
test/GeneralMetricTest
test/GeneratePulsarSignalTest
test/GetAMCoeffsTest
test/H-1_H1_60SFT_test-000012345-61.sft
test/H-1_H1_60SFT_test-000012465-61.sft
test/H-1_H1_60SFT_test-000012585-61.sft
test/H-1_H1_60SFT_test-000012765-61.sft
test/H-1_H1_60SFT_test-000012825-61.sft
test/H-3_H1_60SFT_test_concat-000012345-302.sft
test/HeterodynePulsarTest
test/LALBarycenterTest
test/LALPulsarXMLTest
test/NewGetAMCoeffsTest
test/NormalizeSFTRngMedTest
test/OutHistogram.asc
test/OutHough.asc
test/PtoleMeshTest
test/PtoleMetricTest
test/PulsarCatTest
test/ResampleTest
test/SFTCleanTest
test/SFTfileIOTest
test/SimulateTaylorCWTest
test/SkyMetricTest
test/StackMetricTest
test/TestConstructPLUT
test/TestDriveHough
test/TestDriveNDHough
test/TestHoughMap
test/TestLFTandTSutils
test/TestNDConstructPLUT
test/TestNDHoughMap
test/TestNDPeak2PHMD
test/TestPeak2PHMD
test/TestStatistics
test/TestVelocity
test/TwoDMeshTest
test/UniversalDopplerMetricTest
test/XLALComputeAMTest
test/XLALMultiNoiseWeightsTest
test/outputsft_v1.sft
test/outputsft_v2.sft
test/outputsftv2_v1.sft
test/outputsftv2_v2.sft
test/testLFTandTSutils-LFT.sft
test/testLFTandTSutils-timeseries.dat
