*.la
*.lo
*.log
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/lal/*.i
include/stamp-h1
lalpulsar-*.tar.gz
lalpulsar.pc
lalpulsar.spec
libtool
src/LALPulsarConfig.h
src/LALPulsarVCSInfo.h
src/git_version
src/lalpulsar-user-env.shell
src/lalpulsar-user-env.csh
src/lalpulsar-user-env.sh
src/stamp-h2
test/ExtrapolatePulsarSpinsTest
test/FitToPulsarTest
test/FlatMeshTest
test/FoldAmplitudesTest
test/GeneralMeshTest
test/GeneralMetricTest
test/GeneratePulsarSignalTest
test/GetAMCoeffsTest
test/H-1_H1_60SFT_test-000012345-61.sft
test/H-1_H1_60SFT_test-000012465-61.sft
test/H-1_H1_60SFT_test-000012585-61.sft
test/H-1_H1_60SFT_test-000012765-61.sft
test/H-1_H1_60SFT_test-000012825-61.sft
test/H-1_H1_60SFT_test-concat.sft
test/HeterodynePulsarTest
test/LALPulsarXMLTest
test/NewGetAMCoeffsTest
test/NormalizeSFTRngMedTest
test/OutHistogram.asc
test/OutHough.asc
test/PtoleMeshTest
test/PtoleMetricTest
test/PulsarCatTest
test/ResampleTest
test/SFTCleanTest
test/SFTfileIOTest
test/SimulateTaylorCWTest
test/SkyMetricTest
test/StackMetricTest
test/TestConstructPLUT
test/TestDriveHough
test/TestDriveNDHough
test/TestHoughMap
test/TestNDConstructPLUT
test/TestNDHoughMap
test/TestNDPeak2PHMD
test/TestPeak2PHMD
test/TestStatistics
test/TestVelocity
test/TwoDMeshTest
test/UniversalDopplerMetricTest
test/XLALComputeAMTest
test/outputsft_v1.sft
test/outputsft_v2.sft
test/outputsftv2_v1.sft
test/outputsftv2_v2.sft
python/__init__.py
