*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/stamp-h1
lalpulsar-*.tar.gz
lalpulsar.pc
lalpulsar.spec
libtool
src/lalpulsar-user-env.csh
src/lalpulsar-user-env.sh
test/ExtrapolatePulsarSpinsTest
test/FitToPulsarTest
test/FoldAmplitudesTest
test/GeneralMeshTest
test/GeneralMetricTest
test/GetAMCoeffsTest
test/HeterodynePulsarTest
test/NewGetAMCoeffsTest
test/NormalizeSFTRngMedTest
test/OutHistogram.asc
test/OutHough.asc
test/PtoleMeshTest
test/PtoleMetricTest
test/PulsarCatTest
test/ResampleTest
test/SFTCleanTest
test/SFTfileIOTest
test/SimulateTaylorCWTest
test/SkyMetricTest
test/StackMetricTest
test/TestConstructPLUT
test/TestDriveHough
test/TestDriveNDHough
test/TestHoughMap
test/TestNDConstructPLUT
test/TestNDHoughMap
test/TestNDPeak2PHMD
test/TestPeak2PHMD
test/TestStatistics
test/TestVelocity
test/TwoDMeshTest
test/UniversalDopplerMetricTest
