include LICENSE README MANIFEST.in
include glue/ligolw/*.c
include glue/ligolw/*.h
include misc/*.py
include src/conf/db2/*
include src/conf/s6_db2/*.in
include src/conf/s6_db2/change_creator_db.pl
include src/conf/s6_db2/creator_db_table.txt
include src/conf/s6_qreplication/*
include src/conf/s6_qreplication/lho/*
include src/conf/s6_qreplication/llo/*
include src/conf/s6_qreplication/cit/*
include src/php/README
include src/php/dq_report/*
include src/php/seginsert/*
include src/php/seginsert/img/*
include src/php/seginsert/scripts/*
include src/segments/*.c
include src/segments/*.h
include src/nmi/*
include src/nmi/builds/*
include src/nmi/unit/*
include src/nmi/diff/*
include man/man1/*
include etc/*
include test/*
include debian/*
include debian/source/*
exclude src/nmi/builds/lalsuite-build.spec
