Source: lalinference
Section: lscsoft
Priority: optional
Maintainer: Adam Mercer <adam.mercer@ligo.org>
Build-Depends: debhelper (>= 7), pkg-config, python-all-dev,
  libchealpix-dev,
  zlib1g-dev, libgsl0-dev (>= 1.15), libmetaio-dev (>= 8.2),
  swig (>= 2.0.11~), octave3.2-headers, python-numpy (>= 1.3),
  lal-dev (>= 6.12.0~), lal-python (>= 6.12.0~),
  lal-octave (>= 6.12.0~), lalframe-dev (>= 1.1.0~),
  lalframe-python (>= 1.1.0~), lalframe-octave (>= 1.1.0~),
  lalmetaio-dev (>= 1.2.0~), lalmetaio-python (>= 1.2.0~),
  lalmetaio-octave (>= 1.2.0~), lalsimulation-dev (>= 1.1.0~),
  lalsimulation-python (>= 1.1.0~), lalsimulation-octave (>= 1.1.0~),
  lalinspiral-dev (>= 1.5.0~), lalinspiral-python (>= 1.5.0~),
  lalinspiral-octave (>= 1.5.0~), lalpulsar-dev (>= 1.9.0~),
  lalpulsar-python (>= 1.8.0~), lalpulsar-octave (>= 1.9.0~)
X-Python-Version: >= 2.6
Standards-Version: 3.8.6

Package: lalinference
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libchealpix0, python-healpy,
  libgsl0 (>= 1.15) | libgsl0ldbl (>= 1.15), libmetaio1 (>= 8.2),
  lal (>= 6.12.0~), lalframe (>= 1.1.0~), lalmetaio (>= 1.2.0~),
  lalsimulation (>= 1.1.0~), lalinspiral (>= 1.5.0~),
  lalpulsar (>= 1.9.0~)
Description: LSC Algorithm Library Inference
 The LSC Algorithm Inspiral Library for gravitational wave data analysis.
 This package contains the shared-object libraries needed to run applications
 that use the LAL Inference library.

Package: lalinference-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libchealpix-dev,
  libgsl0-dev (>= 1.15), libmetaio-dev (>= 8.2), lal-dev (>= 6.12.0~),
  lalframe-dev (>= 1.1.0~), lalmetaio-dev (>= 1.2.0~),
  lalsimulation-dev (>= 1.1.0~), lalinspiral-dev (>= 1.5.0~),
  lalpulsar-dev (>= 1.9.0~), lalinference (= ${binary:Version})
Description: LSC Algorithm Library Inference Developers
 The LSC Algorithm Inference Library for gravitational wave data analysis.
 This package contains files needed build applications that use the LAL
 Inference library.

Package: lalinference-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy,
  lalinference (= ${binary:Version}), lal-python (>= 6.12.0~),
  lalframe-python (>= 1.1.0~), lalmetaio-python (>= 1.2.0~),
  lalsimulation-python (>= 1.1.0~), lalinspiral-python (>= 1.5.0~),
  lalpulsar-python (>= 1.9.0~)
Replaces: lalapps (<< 6.14.0-1)
Breaks: lalapps (<< 6.14.0-1)
Description: Python bindings for LALInference

Package: lalinference-octave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, octave,
  lalinference (= ${binary:Version}), lal-octave (>= 6.12.0~),
  lalframe-octave (>= 1.1.0~), lalmetaio-octave (>= 1.2.0~),
  lalsimulation-octave (>= 1.1.0~), lalinspiral-octave (>= 1.5.0~),
  lalpulsar-octave (>= 1.9.0~)
Description: Octave bindings for LALInference
