Source: lalinference
Section: lscsoft
Priority: optional
Maintainer: Adam Mercer <adam.mercer@ligo.org>
Build-Depends: debhelper (>= 7), pkg-config, python-all-dev,
  libchealpix-dev,
  zlib1g-dev, libgsl0-dev (>= 1.9), libmetaio-dev (>= 8.2),
  swig (>= 2.0.7), octave3.2-headers, python-numpy (>= 1.3),
  lal-dev (>= 6.10.0), lal-python (>= 6.10.0),
  lal-octave (>= 6.10.0), lalframe-dev (>= 1.0.10),
  lalframe-python (>= 1.0.10), lalframe-octave (>= 1.0.10),
  lalmetaio-dev (>= 1.1.0), lalmetaio-python (>= 1.1.0),
  lalmetaio-octave (>= 1.1.0), lalsimulation-dev (>= 0.7.0),
  lalsimulation-python (>= 0.7.0), lalsimulation-octave (>= 0.7.0),
  lalinspiral-dev (>= 1.5.0), lalinspiral-python (>= 1.5.0),
  lalinspiral-octave (>= 1.5.0), (lalpulsar-dev (>= 1.7.0),
  lalpulsar-python (>= 1.7.0), lalpulsar-octave (>= 1.7.0)
X-Python-Version: >= 2.6
Standards-Version: 3.8.6

Package: lalinference
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libchealpix0, python-healpy,
  libgsl0 (>= 1.9) | libgsl0ldbl (>= 1.10), libmetaio1 (>= 8.2),
  lal (>= 6.10.0), lalframe (>= 1.0.10), lalmetaio (>= 1.1.0),
  lalsimulation (>= 0.7.0), lalinspiral (>= 1.5.0),
  lalpulsar (>= 1.7.0)
Description: LSC Algorithm Library Inference
 The LSC Algorithm Inspiral Library for gravitational wave data analysis.
 This package contains the shared-object libraries needed to run applications
 that use the LAL Inference library.

Package: lalinference-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libchealpix-dev,
  libgsl0-dev (>= 1.9), libmetaio-dev (>= 8.2), lal-dev (>= 6.10.0),
  lalframe-dev (>= 1.0.10), lalmetaio-dev (>= 1.1.0),
  lalsimulation-dev (>= 0.7.0), lalinspiral-dev (>= 1.5.0),
  lalpulsar-dev (>= 1.7.0), lalinference (= ${binary:Version})
Description: LSC Algorithm Library Inference Developers
 The LSC Algorithm Inference Library for gravitational wave data analysis.
 This package contains files needed build applications that use the LAL
 Inference library.

Package: lalinference-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy,
  lalinference (= ${binary:Version}), lal-python (>= 6.10.0),
  lalframe-python (>= 1.0.10), lalmetaio-python (>= 1.1.0),
  lalsimulation-python (>= 0.7.0), lalinspiral-python (>= 0.7.0),
  lalpulsar-python (>= 1.7.0)
Description: Python bindings for LALInference

Package: lalinference-octave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, octave,
  lalinference (= ${binary:Version}), lal-octave (>= 6.10.0),
  lalframe-octave (>= 1.0.10), lalmetaio-octave (>= 1.1.0),
  lalsimulation-octave (>= 0.7.0), lalinspiral-octave (>= 0.7.0),
  lalpulsar-octave (>= 1.7.0)
Description: Octave bindings for LALInference
