#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

CONFIGUREARGS = --enable-swig --enable-openmp

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
MAKEARGS = \
	-C {build_dir} V=1 \
	pythondir={install_dir} pyexecdir={install_dir} \
	pkgpythondir={install_dir}/$(DEB_SOURCE) \
	pkgpyexecdir={install_dir}/$(DEB_SOURCE)
export PYBUILD_SYSTEM = custom
export PYBUILD_CLEAN_ARGS = $(MAKE) $(MAKEARGS) clean || true
export PYBUILD_CONFIGURE_ARGS = cd {build_dir} && {dir}/configure \
	--prefix=/usr --sysconfdir=/etc \
	--libdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
	--mandir=/usr/share/man --infodir=/usr/share/info \
	--disable-gcc-flags \
	$(CONFIGUREARGS) PYTHON=$$(which {interpreter}) pythondir={install_dir}
export PYBUILD_BUILD_ARGS = $(MAKE) $(MAKEARGS)
export PYBUILD_INSTALL_ARGS = $(MAKE) $(MAKEARGS) DESTDIR={destdir} install
export PYBUILD_TEST_ARGS = $(MAKE) $(MAKEARGS) check

%:
	dh $@ --with=python2 --buildsystem=pybuild
