## example settings for HierarchicalSearch
## -----------------------------------------


followUp	= 0
method		= 0		

DataFiles1	= "/home/badkri/fakesfts3/*.sft" 
##DataFiles2	= "/home/badkri/fakesfts2/L-1_L1_*.sft" 

Freq		= 310.99 
FreqBand	= 0.02
f1dot		= 0 
f1dotBand	= 0
##skyRegion	= "allsky"

nStacks1	= 20
gridType1	= 3

skyGridFile	= ./skygrid 
printCand1	= 1
nCand1		= 20 
threshold1	= 15
nCand2		= 200 
pixelFactor	= 0.5
##printCand1 	= 1
printFstat1	= 1
useWeights	= 1

##refTime	= 830000000

## the developer options
## -------------------------

printMaps	= 0
printStats	= 0

