*.la
*.lo
*.log
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/lal/*.i
include/stamp-h1
lalburst-*.tar.gz
lalburst.pc
lalburst.spec
libtool
src/LALBurstConfig.h
src/LALBurstVCSInfo.h
src/git_version
src/lalburst-user-env.shell
src/lalburst-user-env.csh
src/lalburst-user-env.sh
src/stamp-h2
test/CLRTest
test/CLRoutdata.asc
test/TfrPswvTest
test/TfrRspTest
test/TfrSpTest
test/TfrWvTest
test/ThresholdsTest
test/TrackSearchTest
python/__init__.py
