*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/stamp-h1
lalburst-*.tar.gz
lalburst.pc
lalburst.spec
libtool
src/lalburst-user-env.csh
src/lalburst-user-env.sh
test/CLRTest
test/CLRoutdata.asc
test/TfrPswvTest
test/TfrRspTest
test/TfrSpTest
test/TfrWvTest
test/ThresholdsTest
test/TrackSearchTest
