# overall
*                               @adam-mercer @duncanmmacleod @karl-wette

# package-level owners
lal/                            @adam-mercer @jolien-creighton @kipp.cannon
lalframe/                       @adam-mercer @ed-maros @jolien-creighton
lalmetaio/                      @adam-mercer @jolien-creighton @kipp.cannon
lalsimulation/                  @frank-ohme @harald.pfeiffer @kipp.cannon @maria.haney @riccardo-sturani @sebastian-khan
lalburst/                       @adam-mercer @duncanmmacleod @gabriele-vedovato @kipp.cannon @marco-drago
lalpulsar/                      @david-keitel @karl-wette
lalinspiral/                    @adam-mercer @ian-harry @jolien-creighton @kipp.cannon
lalinference/                   @aaron.zimmerman @bfarr @cjhaster @gregory.ashton @john-veitch @patricia-schmidt @salvatore-vitale @vivien

# lalapps
lalapps/src/findchirp/          @adam-mercer @jolien-creighton
lalapps/src/frametools/         @adam-mercer @jolien-creighton
lalapps/src/hwinjection/        @david-keitel @karl-wette
lalapps/src/inspiral/           @adam-mercer @ian-harry @jolien-creighton
lalapps/src/lalapps/            @adam-mercer @jolien-creighton
lalapps/src/power/              @kipp.cannon @xavier.siemens
lalapps/src/pulsar/             @david-keitel @karl-wette
lalapps/src/ring/               @andrew-williamson @ian-harry
lalapps/src/string/             @daichi.tsuna @imene.belahcene @florent-robinet @kipp.cannon

# build / packaging / support files
*.pc.in                         @adam-mercer @duncanmmacleod
*.spec.in                       @adam-mercer @duncanmmacleod
.AUTHORS                        @adam-mercer @karl-wette
.coafile                        @adam-mercer @duncanmmacleod
.gitignore                      @adam-mercer @duncanmmacleod @karl-wette
.gitlab-*.Dockerfile            @adam-mercer @duncanmmacleod
.gitlab-ci.yml                  @adam-mercer @duncanmmacleod
.gitlab/                        @adam-mercer @duncanmmacleod
.mailmap                        @adam-mercer @karl-wette
00boot                          @adam-mercer @duncanmmacleod @karl-wette
CONTRIBUTING.md                 @adam-mercer @duncanmmacleod
COPYING                         @adam-mercer @duncanmmacleod
Makefile.am                     @adam-mercer @duncanmmacleod @karl-wette
conda/                          @adam-mercer @duncanmmacleod
configure.ac                    @adam-mercer @duncanmmacleod @karl-wette
debian/                         @adam-mercer @duncanmmacleod
docker/                         @adam-mercer @duncanmmacleod
doxygen/                        @adam-mercer @duncanmmacleod @karl-wette
gnuscripts/                     @adam-mercer @duncanmmacleod @karl-wette
include/                        @adam-mercer @duncanmmacleod @karl-wette
swig/                           @adam-mercer @duncanmmacleod @karl-wette
