# NOTE: when adding any new names here, the corresponding users must also be
# added as members of https://git.ligo.org/lscsoft/lalsuite (with at least
# Developer level permissions) in order to be able to approve merge requests.
# The following list of GitLab handles to real names should also be updated;
# this is used to automatically generate the Authors/Maintainers Doxygen docs.

# @aaron.zimmerman     = Aaron Zimmerman
# @adam-mercer         = Adam Mercer
# @antoni.ramos-buades = Antoni Ramos-Buades
# @bfarr               = Ben Farr
# @cjhaster            = Carl-Johan Haster
# @david-keitel        = David Keitel
# @duncanmmacleod      = Duncan Macleod
# @ed-maros            = Ed Maros
# @evan-goetz          = Evan Goetz
# @florent-robinet     = Florent Robinet
# @francesco-pannarale = Francesco Pannarale
# @geraint.pratten     = Geraint Pratten
# @gregory.ashton      = Gregory Ashton
# @ian-harry           = Ian Harry
# @john-veitch         = John Veitch
# @john-whelan         = John T. Whelan
# @jolien-creighton    = Jolien Creighton
# @karl-wette          = Karl Wette
# @kipp                = Kipp Cannon
# @leo-singer          = Leo Singer
# @marco-drago         = Marco Drago
# @matthew-pitkin      = Matthew Pitkin
# @patricia-schmidt    = Patricia Schmidt
# @salvatore-vitale    = Salvatore Vitale
# @soichiro.kuwahara   = Soichiro Kuwahara
# @vijay.varma         = Vijay Varma
# @vivien              = Vivien Raymond

# overall
*                               @adam-mercer @duncanmmacleod @karl-wette

# package-level owners
lal/                            @adam-mercer @jolien-creighton @kipp
lalframe/                       @adam-mercer @ed-maros @jolien-creighton
lalmetaio/                      @adam-mercer @jolien-creighton @kipp
lalsimulation/                  @kipp @antoni.ramos-buades @geraint.pratten @vijay.varma
lalburst/                       @adam-mercer @duncanmmacleod @kipp @marco-drago
lalinspiral/                    @adam-mercer @ian-harry @jolien-creighton @kipp
lalinference/                   @aaron.zimmerman @bfarr @cjhaster @gregory.ashton @john-veitch @patricia-schmidt @salvatore-vitale @vivien
lalpulsar/                      @david-keitel @evan-goetz @john-whelan @karl-wette @matthew-pitkin

# lalapps
lalapps/src/findchirp/          @adam-mercer @ian-harry @jolien-creighton
lalapps/src/frametools/         @adam-mercer @ed-maros @jolien-creighton
lalapps/src/inspiral/           @adam-mercer @ian-harry @jolien-creighton
lalapps/src/lalapps/            @adam-mercer @duncanmmacleod @jolien-creighton
lalapps/src/power/              @adam-mercer @kipp @soichiro.kuwahara
lalapps/src/ring/               @francesco-pannarale @ian-harry @jolien-creighton
lalapps/src/string/             @adam-mercer @florent-robinet @kipp

# build / packaging / support files
*.md                            @adam-mercer @duncanmmacleod @karl-wette
*.pc.in                         @adam-mercer @duncanmmacleod @karl-wette
*.spec.in                       @adam-mercer @duncanmmacleod @karl-wette
.coafile                        @adam-mercer @duncanmmacleod @karl-wette
.gitignore                      @adam-mercer @duncanmmacleod @karl-wette
.gitlab-*.Dockerfile            @adam-mercer @duncanmmacleod @karl-wette
.gitlab-ci.yml                  @adam-mercer @duncanmmacleod @karl-wette
.gitlab/                        @adam-mercer @duncanmmacleod @karl-wette
.mailmap                        @adam-mercer @duncanmmacleod @karl-wette
00boot                          @adam-mercer @duncanmmacleod @karl-wette
AUTHORS                         @adam-mercer @duncanmmacleod @karl-wette
COPYING                         @adam-mercer @duncanmmacleod @karl-wette
Makefile.am                     @adam-mercer @duncanmmacleod @karl-wette
common/                         @adam-mercer @duncanmmacleod @karl-wette
conda/                          @adam-mercer @duncanmmacleod @karl-wette
configure.ac                    @adam-mercer @duncanmmacleod @karl-wette
debian/                         @adam-mercer @duncanmmacleod @karl-wette
doxygen/                        @adam-mercer @duncanmmacleod @karl-wette
exclude-modules.txt             @adam-mercer @duncanmmacleod @karl-wette
exclude-scripts.txt             @adam-mercer @duncanmmacleod @karl-wette
gnuscripts/                     @adam-mercer @duncanmmacleod @karl-wette
include/                        @adam-mercer @duncanmmacleod @karl-wette
rpmlintrc                       @adam-mercer @duncanmmacleod @karl-wette
swig/                           @adam-mercer @duncanmmacleod @karl-wette
test_python_imports.py.in       @adam-mercer @duncanmmacleod @karl-wette
test_python_scripts.py.in       @adam-mercer @duncanmmacleod @karl-wette
wheel/                          @adam-mercer @duncanmmacleod @karl-wette @leo-singer
