*.la
*.lo
*.log
*.o
*.pc
*.pyc
*.pyo
.deps
.libs
/_build/
/_inst/
/laldetchar-*/
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
laldetchar-*.tar.gz
laldetchar-user-env.csh
laldetchar-user-env.sh
laldetchar-user-env.shell
laldetchar.spec
libtool
octave/
python/laldetchar-hveto
python/laldetchar-hveto-summary-page
python/laldetchar-idq-add-excluded-vars
python/laldetchar-idq-evaluate-times
python/laldetchar-idq-fap-calibration
python/laldetchar-idq-gdb-glitch-tables
python/laldetchar-idq-gdb-timeseries
python/laldetchar-idq-prepare-training-auxmvc-samples
python/laldetchar-idq-realtime
python/laldetchar-idq-select-channels-from-kw-config
python/laldetchar-idq-summary
python/laldetchar-idq-svm-evaluate
python/laldetchar-idq-svm-train
python/laldetchar-idq-train
python/laldetchar-segments-from-data
python/laldetchar/__init__.py
python/laldetchar/_laldetchar*
python/laldetchar/git_version.py
python/laldetchar/laldetchar.py
src/LALDetCharBuildInfo.c
src/LALDetCharConfig.h
src/LALDetCharVCSInfo.c
src/LALDetCharVCSInfo.h
src/LALDetCharVCSInfoHeader.h
src/config.h
src/config.h.in
src/laldetchar-hveto
src/stamp-h1
src/stamp-h2
swig/swiglal*
