*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
bin/laldetchar-hveto
bin/laldetchar-hveto-summary-page
bin/laldetchar-segments-from-data
bin/python_config.sed
config.lt
include/lal/*.h
include/lal/*.i
laldetchar-*.tar.gz
laldetchar.spec
libtool
python/__init__.py
python/git_version.py
src/LALDetCharBuildInfo.c
src/LALDetCharConfig.h
src/LALDetCharVCSInfo.h
src/config.h
src/config.h.in
src/laldetchar-hveto
src/laldetchar-user-env.csh
src/laldetchar-user-env.sh
src/laldetchar-user-env.shell
src/stamp-h1
src/stamp-h2
