*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
/_build/
/_inst/
/laldetchar-*/
Makefile
Makefile.in
bin/laldetchar-hveto
bin/laldetchar-hveto-summary-page
bin/laldetchar-segments-from-data
bin/python_config.sed
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
laldetchar-*.tar.gz
laldetchar-user-env.csh
laldetchar-user-env.sh
laldetchar-user-env.shell
laldetchar.spec
libtool
python/__init__.py
python/git_version.py
src/LALDetCharBuildInfo.c
src/LALDetCharConfig.h
src/LALDetCharVCSInfo.c
src/LALDetCharVCSInfo.h
src/LALDetCharVCSInfoHeader.h
src/config.h
src/config.h.in
src/laldetchar-hveto
src/stamp-h1
src/stamp-h2
