*.la
*.lo
*.log
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/lal/*.i
include/stamp-h1
lalsimulation-*.tar.gz
lalsimulation.pc
lalsimulation.spec
libtool
python/__init__.py
python/git_version.py
src/LALSimulationConfig.h
src/LALSimulationVCSInfo.h
src/lalsim-bh-qnmode
src/lalsim-bh-ringdown
src/lalsim-bh-sphwf
src/lalsim-detector-noise
src/lalsim-sgwb
src/lalsim-unicorn
src/lalsimulation-user-env.csh
src/lalsimulation-user-env.sh
src/lalsimulation-user-env.shell
src/stamp-h2
test/GRFlagsTest
test/GenerateSimulation
test/ST2-dynamics.dat
test/ST4-dynamics.dat
test/TestEOBNRv2
test/TestPrecessWaveform
test/TestSphHarmTS
test/TestSpinTaylorT4Dynamics
test/WaveformFlagsTest
test/eobHPlusCross.dat
test/h_ref.txt
test/h_rot.txt
test/simulation.dat
