*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
/_build/
/_inst/
/lalsimulation-*/
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalsimulation-*.tar.gz
lalsimulation-user-env.csh
lalsimulation-user-env.sh
lalsimulation-user-env.shell
lalsimulation.spec
libtool
python/__init__.py
python/git_version.py
src/LALSimulationBuildInfo.c
src/LALSimulationConfig.h
src/LALSimulationVCSInfo.c
src/LALSimulationVCSInfo.h
src/LALSimulationVCSInfoHeader.h
src/config.h
src/config.h.in
src/lalsim-bh-qnmode
src/lalsim-bh-ringdown
src/lalsim-bh-sphwf
src/lalsim-detector-noise
src/lalsim-ns-eos-table
src/lalsim-ns-mass-radius
src/lalsim-ns-params
src/lalsim-sgwb
src/lalsim-unicorn
src/stamp-h1
src/stamp-h2
swig/octave/
swig/python/
swig/swig_*
test/GRFlagsTest
test/GenerateSimulation
test/PhenomP_Test*dat
test/ST2-dynamics.dat
test/ST4-dynamics.dat
test/TestEOBNRv2
test/TestOpenMP
test/TestPhenomP
test/TestPrecessWaveform
test/TestPrecessWaveformEOBNR
test/TestPrecessWaveformIMRPhenomB
test/TestSphHarmTS
test/TestSpinTaylorT4Dynamics
test/TestWaveformFromCache
test/TestXLALSimAddInjection
test/WaveformFlagsTest
test/XLALSimIMRPhenomC.dat
test/XLALSimIMRPhenomP.dat
test/eobHPlusCross.dat
test/h_ref.txt
test/h_ref_EOBNR.txt
test/h_ref_PhenomB.txt
test/h_rot.txt
test/h_rot_EOBNR.txt
test/h_rot_PhenomB.txt
test/simulation.dat
test/simulation-FD-*.dat
test/simulation-TD-*.dat
