*.la
*.lo
*.log
*.o
*.pc
*.pyc
*.pyo
.deps
.libs
/_build/
/_inst/
/lalxml-*/
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalxml-*.tar.gz
lalxml-user-env.csh
lalxml-user-env.sh
lalxml-user-env.shell
lalxml.spec
libtool
octave/
python/lalxml/__init__.py
python/lalxml/_lalxml*
python/lalxml/git_version.py
python/lalxml/lalxml.py
src/LALXMLBuildInfo.c
src/LALXMLConfig.h
src/LALXMLVCSInfo.c
src/LALXMLVCSInfo.h
src/LALXMLVCSInfoHeader.h
src/config.h
src/config.h.in
src/git_version
src/stamp-h1
src/stamp-h2
swig/swiglal*
test/LALXMLTest
