*.la
*.lo
*.log
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/lal/*.i
include/stamp-h1
lalxml-*.tar.gz
lalxml.pc
lalxml.spec
libtool
src/LALXMLConfig.h
src/LALXMLVCSInfo.h
src/git_version
src/lalxml-user-env.shell
src/lalxml-user-env.csh
src/lalxml-user-env.sh
src/stamp-h2
test/LALXMLTest
python/__init__.py
