*.la
*.lo
*.log
*.o
*.pc
.deps
.libs
/_build/
/_inst/
/lalxml-*/
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalxml-*.tar.gz
lalxml-user-env.csh
lalxml-user-env.sh
lalxml-user-env.shell
lalxml.spec
libtool
python/__init__.py
python/git_version.py
src/LALXMLBuildInfo.c
src/LALXMLConfig.h
src/LALXMLVCSInfo.h
src/config.h
src/config.h.in
src/git_version
src/stamp-h1
src/stamp-h2
test/LALXMLTest
