*.la
*.lo
*.log
*.o
*.pc
*.pyc
*.pyo
.deps
.libs
.python_wrapper.sh
/_build/
/_inst/
/lalinspiral-*/
Makefile
Makefile.in
config.lt
include/lal/*.h
include/lal/*.i
include/lal/header-link-stamp
lalinspiral-*.tar.gz
lalinspiral-user-env.csh
lalinspiral-user-env.sh
lalinspiral-user-env.shell
lalinspiral.spec
libtool
octave/
python/lalinspiral/__init__.py
python/lalinspiral/_lalinspiral*
python/lalinspiral/git_version.py
python/lalinspiral/lalinspiral.py
src/Chisq_GPU.cpp
src/LALInspiralBuildInfo.c
src/LALInspiralConfig.h
src/LALInspiralVCSInfo.c
src/LALInspiralVCSInfo.h
src/LALInspiralVCSInfoHeader.h
src/config.h
src/config.h.in
src/git_version
src/stamp-h1
src/stamp-h2
swig/swiglal*
test/BCVTemplates
test/BCVTemplates.out
test/BCVTemplatesFlatMesh
test/BCVTemplatesFlatMesh.out
test/BasicInjectTest
test/ChirpSpace.out
test/CoarseTest
test/CoarseTest.out
test/CoarseTest2
test/CoarseTest2.out
test/CompareLalsimultaionLalinspiralWaveforms
test/FindChirpBCVSpinTest
test/FindChirpBankVetoTest
test/FindChirpTDTest
test/GenerateInspiralWaveform
test/GeneratePPNAmpCorInspiralTest
test/GeneratePPNInspiralTest
test/GetOrientationEllipse
test/InjectionInterfaceTest
test/InspiralBCVSpinBankTest
test/InspiralSpinBankTest
test/LALHybridTest
test/LALInspiralSpinningBHBinariesTest
test/LALInspiralTaylorT2Test
test/LALInspiralTaylorT3Test
test/LALInspiralTaylorT4Test
test/LALInspiralTest
test/LALSTPNWaveformTest
test/MetricTest
test/MetricTest.out
test/MetricTestBCV
test/MetricTestBCV.out
test/MetricTestPTF
test/NRWaveIOTest
test/PNTemplates
test/PNTemplates.out
test/RandomInspiralSignalTest
test/RandomInspiralSignalTest.out
test/SpaceCovering
test/SpaceCovering.out
test/T2wave1.dat
test/T2wave2.dat
test/T3wave1.dat
test/T3wave2.dat
test/T4wave1.dat
test/T4wave2.dat
test/data.out
test/injection.dat
test/myderivs.dat
test/sp_rhosq.out
test/td_rhosq.out
test/wave1.dat
test/wave2.dat
