*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/stamp-h1
lalinspiral-*.tar.gz
lalinspiral.pc
lalinspiral.spec
libtool
src/LALInspiralConfig.h
src/LALInspiralVCSInfo.h
src/git_version
src/lalinspiral-user-env.csh
src/lalinspiral-user-env.sh
src/stamp-h2
test/BasicInjectTest
test/CoarseTest
test/CoarseTest.out
test/FindChirpBCVSpinTest
test/FindChirpBankVetoTest
test/FindChirpTDTest
test/GeneratePPNAmpCorInspiralTest
test/GeneratePPNInspiralTest
test/InjectionInterfaceTest
test/InspiralBCVSpinBankTest
test/InspiralSpinBankTest
test/LALInspiralSpinningBHBinariesTest
test/LALInspiralTest
test/LALSTPNWaveformTest
test/MetricTest
test/MetricTest.out
test/NRWaveIOTest
test/RandomInspiralSignalTest
test/RandomInspiralSignalTest.out
test/data.out
test/injection.dat
test/sp_rhosq.out
test/td_rhosq.out
test/wave1.dat
