*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
include/config.h
include/config.h.in
include/lal/*.h
include/stamp-h1
lalinspiral-*.tar.gz
lalinspiral.pc
lalinspiral.spec
libtool
src/LALInspiralConfig.h
src/LALInspiralVCSInfo.h
src/git_version
src/lalinspiral-user-env.csh
src/lalinspiral-user-env.sh
src/stamp-h2
test/BCVTemplates
test/BCVTemplates.out
test/BCVTemplatesFlatMesh
test/BCVTemplatesFlatMesh.out
test/BasicInjectTest
test/ChirpSpace.out
test/CoarseTest
test/CoarseTest.out
test/CoarseTest2
test/CoarseTest2.out
test/FindChirpBCVSpinTest
test/FindChirpBankVetoTest
test/FindChirpTDTest
test/GenerateInspiralWaveform
test/GeneratePPNAmpCorInspiralTest
test/GeneratePPNInspiralTest
test/GetOrientationEllipse
test/InjectionInterfaceTest
test/InspiralBCVSpinBankTest
test/InspiralSpinBankTest
test/LALHybridTest
test/LALInspiralSpinningBHBinariesTest
test/LALInspiralTest
test/LALSTPNWaveformTest
test/MetricTest
test/MetricTest.out
test/MetricTestBCV
test/MetricTestBCV.out
test/MetricTestPTF
test/NRWaveIOTest
test/PNTemplates
test/PNTemplates.out
test/RandomInspiralSignalTest
test/RandomInspiralSignalTest.out
test/SpaceCovering
test/SpaceCovering.out
test/data.out
test/injection.dat
test/myderivs.dat
test/sp_rhosq.out
test/td_rhosq.out
test/wave1.dat
