*.aux
*.la
*.lo
*.loT
*.log
*.o
*.pc
*.tag
.adoc
.deps
.dvi-dep
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
doxy-html-config.cfg
doxy-html-eqns.log
doxy-html-warn.log
doxy-pdf-config.cfg
doxy-pdf-make.log
doxy-pdf-warn.log
doxygen_*.tmp
figures/
html/
lalsuite-*.tar.gz
latex/
refman.pdf
