Source: lalinspiral
Section: lscsoft
Priority: optional
Maintainer: Adam Mercer <adam.mercer@ligo.org>
Build-Depends: debhelper (>= 7), python-all-dev, pkg-config,
  zlib1g-dev, libgsl0-dev (>= 1.9), swig (>= 2.0.11~), octave3.2-headers,
  python-numpy, libframe-dev (>= 8.0), libmetaio-dev (>= 8.2),
  lal-dev (>= 6.13.0~), lal-python (>= 6.13.0~), lal-octave (>= 6.13.0~),
  lalframe-dev (>= 1.2.0~), lalframe-python (>= 1.2.0~),
  lalframe-octave (>= 1.2.0~), lalmetaio-dev (>= 1.2.0~),
  lalmetaio-python (>= 1.2.0~), lalmetaio-octave (>= 1.2.0~),
  lalsimulation-dev (>= 1.2.0~), lalsimulation-python (>= 1.2.0~),
  lalsimulation-octave (>= 1.2.0~)
X-Python-Version: >= 2.6
Standards-Version: 3.8.6

Package: lalinspiral
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libgsl0 (>= 1.9) | libgsl0ldbl (>= 1.10), libframe1 (>= 8.0),
  libmetaio1 (>= 8.2), lal (>= 6.123.0~), lalframe (>= 1.2.0~),
  lalmetaio (>= 1.2.0~), lalsimulation (>= 1.2.0~)
Description: LSC Algorithm Library Inspiral
 The LSC Algorithm Inspiral Library for gravitational wave data analysis.
 This package contains the shared-object libraries needed to run applications
 that use the LAL Inspiral library.

Package: lalinspiral-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g,
  libgsl0-dev (>= 1.9), libframe-dev (>= 8.0), libmetaio-dev (>= 8.2),
  lal-dev (>= 6.13.0~), lalframe-dev (>= 1.2.0~), lalmetaio-dev (>= 1.2.0~),
  lalsimulation-dev (>= 1.2.0~), lalinspiral (= ${binary:Version})
Description: LSC Algorithm Library Inspiral Developers
 The LSC Algorithm Inspiral Library for gravitational wave data analysis.
 This package contains files needed build applications that use the LAL
 Inspiral library.

Package: lalinspiral-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-numpy,
  lalinspiral (= ${binary:Version}), lal-python (>= 6.13.0~),
  lalframe-python (>= 1.2.0~), lalmetaio-python (>= 1.2.0~),
  lalsimulation-python (>= 1.2.0~)
Description: Python bindings for LALInspiral

Package: lalinspiral-octave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, octave,
  lalinspiral (= ${binary:Version}), lal-octave (>= 6.13.0~),
  lalframe-octave (>= 1.2.0~), lalmetaio-octave (>= 1.2.0~),
  lalsimulation-octave (>= 1.2.0~)
Description: Octave bindings for LALInspiral
