#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	PKG_CONFIG_PATH="" \
	./configure \
	    --prefix=/usr \
	    --sysconfdir=/etc \
	    --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	    --disable-gcc-flags

override_dh_auto_build:
	$(MAKE) V=1
